.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	overflow-y: overlay;

	display: flex;
	flex-direction: column;
	padding-bottom: 18px;

	background-color: $dark-theme-text;
	z-index: 999;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}
.js-close-button {
}
.icon-close {
}

// !===================================================================
.menu-nav {
	margin-bottom: 60px;
	flex-grow: 1;
}
.menu-nav__list {
}
.menu-nav__item {
	&:not(:last-child) {
		margin-bottom: 18px;
	}
}
.menu-nav__link {
	display: block;
	&:hover,
	&:focus,
	&--current {
		color: $whitecolor;
		background-color: $accent;

		.menu-nav__link--arrow {
			stroke: $dark-theme-text;
		}
	}
}
.link-back-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 0 6px;
}

.link-text-wrapper {
	display: flex;
	align-items: center;
}
.menu-nav__icon {
	margin-right: 14px;
}
.menu-nav__text {
}
.menu-nav__link--arrow {
	display: flex;
	align-items: center;

	stroke: none;
}

.menu-container {
	position: relative;
	z-index: 100;
}
//! =======================================================================
.mobile-theme {
	display: flex;
}

.switch-checkbox-mobile {
	appearance: none;
	visibility: none;
	display: none;
}

.switch-checkbox-mobile:checked ~ .slider-round {
	background-color: $switcher-accent;
	border-color: $whitecolor;
}

.switch-checkbox-mobile:checked ~ .slider-round::before {
	transform: translateX(20px);
	background-color: $whitecolor;
}

.icon {
	stroke: $text;
}

.icon-close {
	stroke: $text;
}
