.mobile-menu {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	padding-bottom: 18px;
}
.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;
}
.js-close-button {
}
.icon-close {
}

// !===================================================================
.menu-nav {
	flex-grow: 1;
}
.menu-nav__list {
}
.menu-nav__item {
	&:not(:last-child) {
		margin-bottom: 18px;
	}
}
.menu-nav__link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 0 6px;

	&:hover,
	&:focus {
		color: $whitecolor;
	}
}
.link-text-wrapper {
	display: flex;
	align-items: center;
}
.menu-nav__icon {
	margin-right: 14px;
}
.menu-nav__text {
}
.menu-nav__link--arrow {
	display: flex;
	align-items: center;
	// margin-left: 163px;
}

.menu-nav__item:hover,
.menu-nav__item:focus {
	background-color: $accent;
}

.menu-container {
	position: relative;
	z-index: 100;
}
//! =======================================================================
.mobile-theme {
	display: flex;
}

.theme-switcher {
	margin: 248px auto 18px 16px;
	width: 98px;
	height: 21px;
}

.mobile-menu {
	height: 568px;
}

.icon {
	stroke: $text;
}

.icon-close {
	stroke: $text;
}
