// .container {
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
//   @media screen and (min-width: 480px) {
//     width: 480px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }

//   @media screen and (min-width: 1440px) {
//     width: 1440px;
//   }
// }

// .gallery,
// .info {
//   display: flex;
//   flex-wrap: wrap;
// }

// .gallery {
//   justify-content: center;
//   margin-left: 16px;
//   margin-right: 16px;
//   padding-top: 60px;
//   padding: 16px 16px 16px 16px;
// }

.list-news {
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
	margin-bottom: 40px;

	@media screen and (min-width: $tablet) {
		gap: 30px;
		margin-bottom: 48px;
	}

	@media screen and (min-width: $desktop) {
		row-gap: 40px;
		column-gap: 32px;
		margin-bottom: 60px;
	}
}

.list-news__item {
	@media screen and (min-width: $tablet) {
		flex-basis: calc((100% - 30px) / 2);
	}
	@media screen and (min-width: $desktop) {
		flex-basis: calc((100% - 65px) / 3);
	}
}

.news-card {
	position: relative;
}

.news-card__image-wrapper {
	margin-bottom: 20px;
}
.news-card__image {
	display: block;
	object-fit: cover;
	height: 395px;
	border-radius: 4px;
}

.news-card__category {
	width: 124px;
	height: 24px;
	padding: 4px 8px;

	font-weight: 500;
	font-size: 12px;
	line-height: calc(16 / 12);
	text-align: center;

	color: $whitecolor;
	background-color: rgba(68, 64, 246, 0.7);
	position: absolute;
	top: 40px;
	left: 0px;
	border-radius: 0px 4px 4px 0px;
}

//! ===========================================
.js-to-fav {
}
.news-card__add-favorite {
}
.news-card__icon {
}
//! ============================================

.news-card__info-wrapper {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $desktop) {
		padding-right: 26px;
	}
}
.news-card__title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(33 / 24);
	letter-spacing: -0.01em;
	margin-bottom: 20px;

	@media screen and (min-width: $tablet) {
		font-size: 32px;
		line-height: calc(44 / 32);
	}
}

.news-card__text {
	// display: flex;
	// flex-grow: 1;

	font-size: 14px;
	line-height: calc(19 / 14);
	margin-bottom: 20px;

	@media screen and (min-width: $tablet) {
		font-size: 16px;
		line-height: calc(22 / 16);
	}
}
.news-card__details {
	// justify-self: end;

	display: flex;
	justify-content: space-between;
}
.news-card__date {
	font-size: 14px;
	line-height: calc(19 / 14);
	color: $greycolor;

	@media screen and (min-width: $tablet) {
		font-size: 16px;
		line-height: calc(22 / 16);
	}
}

.news-card__news-link {
	font-size: 14px;
	line-height: calc(19 / 14);
	color: #4440f7;

	@media screen and (min-width: $tablet) {
		font-size: 16px;
		line-height: calc(22 / 16);
	}
}

.link {
}

.news-card {
	// position: relative;
	// max-width: 288px;
	// // @media screen and (max-width: 767px) {
	// //   max-width: 288px;
	// // }

	// // @media screen and (min-width: 768px) and (max-width: 1279px) {
	// //   max-width: 353px;
	// // }
	// @media screen and (min-width: $tablet) {
	// 	max-width: 353px;
	// }

	// @media screen and (min-width: $desktop) {
	// 	max-width: 395px;
	// 	// padding: 23px;
	// 	border: 1px solid #fa0410;
	// }
}

.news-card__add-favorite {
	display: flex;
	// align-items: center;
	justify-content: center;
	gap: 4px;
	font-family: "Manrope";
	width: 126px;
	height: 28px;
	background-color: #f51212;
	color: #111321;

	padding-top: 6px;
	padding-bottom: 6px;
	// margin-left: auto;
	// margin-right: auto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.37;
	text-align: center;

	position: absolute;
	top: 355px;
	left: 140px;
	border-radius: 20px;

	@media screen and (min-width: $tablet) {
		top: 355px;
		left: 210px;
	}

	@media screen and (min-width: $desktop) {
		// display: flex;
		top: 355px;
		left: 260px;
	}
}
