// !------------------------------------------------------------------
.page-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	@media screen and (min-width: $tablet) {
		gap: 8px;
	}
}
.page-btn {
	display: flex;
	align-items: center;
	gap: 2px;
	width: 82px;
	height: 31px;
	padding: 4px 10px 5px;
	cursor: pointer;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(19 / 14);
	color: $text;
	background-color: $dark-theme-text;
	border: 1px solid $accent;
	border-radius: 2px;

	@media screen and (min-width: $tablet) {
		font-size: 16px;
		line-height: calc(22 / 16);
	}

	&:hover {
		opacity: 1;
		color: $dark-theme-text;
		border-radius: 2px;
		background-color: $accent;
	}
}
.page-btn__icon {
	pointer-events: none;
}

.pagination {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	gap: 10px;

	@media screen and (min-width: $tablet) {
		gap: 8px;
	}
}
.pg-item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 33px;
	height: 31px;
}

.pg-item.active,
.pg-item:hover {
	opacity: 1;
	color: $dark-theme-text;
	border-radius: 2px;
	background-color: $accent;
}

.pg-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 33px;
	height: 31px;

	border: 1px solid $accent;
	border-radius: 2px;
	background-color: $dark-theme-text;
	color: $text;
}
.pg-link.active,
.pg-link:hover {
	opacity: 1;
	color: $dark-theme-text;
	border-radius: 2px;
	background-color: $accent;
}

.prev-page {
}
.next-page {
}
// !------------------------------------------------------------------
