.pagination {
}
.pagination__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	@media screen and (min-width: $tablet) {
		gap: 8px;
	}
}
.pagination__item {
}
.pagination__btn {
	display: flex;
	align-items: center;
	padding: 0 10px;
	height: 28px;
	gap: 2px;

	color: $text;
	background-color: $dark-theme-text;
	border: 1px solid $accent;
	border-radius: 2px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(19 / 14);

	&:hover,
	&:focus {
		color: $dark-theme-text;
		background-color: #4440f7;
	}

	@media screen and (min-width: $tablet) {
		height: 31px;

		font-size: 16px;
		line-height: calc(22 / 16);
	}
}
.pagination__icon {
	display: flex;
	// align-items: center;
	// justify-content: center;
}
.pagination__text {
}

.pagination__item-numb {
}
.pagination__btn-numb {
	width: 28px;
	height: 28px;

	color: $text;
	background-color: $dark-theme-text;
	border: 1px solid $accent;
	border-radius: 2px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(19 / 14);

	&:hover,
	&:focus {
		color: $dark-theme-text;
		background-color: #4440f7;
	}

	@media screen and (min-width: $tablet) {
		width: 33px;
		height: 31px;

		font-size: 16px;
		line-height: calc(22 / 16);
	}
}

.current {
	color: $dark-theme-text;
	background-color: #4440f7;
}

.pagination__item-dots {
}
.pagination__dots {
}
.prev {
}
.next {
}
