
.read-page {
	padding-top: 60px;
	padding-bottom: 140px;

	@media screen and(min-width:$tablet) {
		padding-bottom: 180px;
	}

	@media screen and(min-width:$desktop) {
		padding-bottom: 210px;
	}
}

.undefined {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__text {
		font-size: 20px;
		line-height: 1.35;
		text-align: center;
		letter-spacing: -0.01em;

		@media screen and (min-width: $tablet) {
			font-size: 40px;
			line-height: 1.38;
		}
	}

	&__pic {
		margin-top: 40px;
		max-width: 248px;

		@media screen and (min-width: $tablet) {
			max-width: 560px;
		}

		@media screen and (min-width: $desktop) {
			margin-top: 47px;
			max-width: 600px;
		}
	}
}

.read-list {
		
	&__item {
		margin-bottom: 60px;
	}

	&__button {
		display: flex;
		padding-bottom: 10px;
		align-items: center;
		width: 100%;
		cursor: pointer;
		border-bottom: 1px solid #929292;
	}

	&__data {
		margin-right: 8px;
		font-family: "Poppins";
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.02em;
		
	}

	&__icon {
		fill: $text;
	}
}

.card-list {
	display: grid;
	padding-top: 40px;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 32px;

	@media screen and (min-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
	}

	@media screen and (min-width: $desktop) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 32px;
	}
}

.news-card {
	position: relative;
}

.read-card-text {
	display: flex;
	align-items: center;
	gap: 4px;
	position: absolute;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.36;
	color: #00DD73;
	top: 20;
	right: 20;
	z-index: 1;
}

