// existing colors:
$accent: #4440f6;
$whitecolor: #fff;

$txt-roboto: 'Roboto';

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  height: 469px;
  border-radius: 4px;
  padding: 32px 36px;
  font-family: 'Roboto';
  background-color: $accent;
  color: $whitecolor;

  @media screen and (min-width: $tablet) {
    padding: 40px 32px 60px;
    width: 353px;
    height: 100%;
  }

  @media screen and (min-width: $desktop) {
    padding: 40px 53px 60px;
    width: 395px;
  }

  &__horisontal {
    display: flex;
    align-items: center;
    gap: 8px;
    // margin-bottom: 10px;

    // @media screen and (min-width: $tablet) {
    //   margin-bottom: 60px;
    // }

    // @media screen and (min-width: $desktop) {
    //   margin-bottom: 90px;
    // }
  }

  &__vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__temp {
    padding-right: 8px;
    border-right: 1px solid $whitecolor;
    font-size: 55px;
    line-height: 1.16;

    @media screen and (min-width: $tablet) {
      font-size: 64px;
      line-height: 1.17;
    }
  }

  &__desc,
  &__date {
    display: block;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 1.17;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      line-height: 1.17;
    }
  }

  &__date {
    text-align: center;
    // margin: 0 auto 28px;

    // @media screen and (min-width: $tablet) {
    //   margin-bottom: 48px;
    // }
  }

  &__imgwrap {
    width: 200px;
    // margin: 0 auto;

    @media screen and (min-width: $tablet) {
      width: 240px;
      // margin: 0 auto 30px;
    }

    @media screen and (min-width: $desktop) {
      width: 280px;
      // margin: 0 auto 30px;
    }
  }

  &__city,
  &__week {
    display: block;
    padding: 9px 8px;
    background: rgba(254, 254, 255, 0.3);
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: $tablet) {
      padding: 10px 12px 9px;
      font-size: 20px;
      line-height: 1.15;
    }
  }

  &__week {
    text-align: center;
    width: 130px;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
      width: 177px;
    }
  }

  &__geo {
    position: absolute;
    top: 7px;
    left: 9px;
    width: 18px;
    height: 18px;

    @media screen and (min-width: $tablet) {
      top: 6px;
      width: 27px;
      height: 27px;
    }
  }

  &__city {
    position: relative;
    display: inline;
    padding-left: 30px;

    @media screen and (min-width: $tablet) {
      padding-left: 42px;
    }
  }
}
