.category {
	display: flex;
	position: relative;

	@media screen and (min-width: $tablet) {
		gap: 14px;
	}

	@media screen and (min-width: $desktop) {
		gap: 16px;
	}
}
.category__list {
	display: flex;

	@media screen and (min-width: $tablet) {
		gap: 14px;
	}

	@media screen and (min-width: $desktop) {
		gap: 16px;
	}
}
.category__item {
}
.category__btn {
	padding: 7.5px 22.5px;

	font-size: 12px;
	line-height: calc(16 / 12);

	border: 1px solid #4440f7;
	border-radius: 20px;
	color: $switcher-accent;
	background-color: $whitecolor;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $whitecolor;
		background-color: $accent;
	}
}
// @media screen and (min-width: 1280px).category__item{
//     margin-left: 16px;
// }

.category__others-container {
	position: relative;
}

.others__button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 7.5px 13px;

	cursor: pointer;

	background-color: $whitecolor;
	color: $accent;
	border: 1px solid #4440f7;
	border-radius: 20px;

	@media screen and (min-width: $tablet) {
		padding: 7.5px 24.5px;
	}
}

.others__text-btn {
	font-size: 12px;
	line-height: calc(16 / 12);
}

.others__icon-open {
	margin-top: 2px;
}

.others__icon-close {
	display: none;
}

.others__wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	// !---------------------
	// transition-duration: 250ms;
	// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	// !---------------------
	pointer-events: none;
	visibility: hidden;
}
.others__list {
	width: 178px;
	height: 380px;
	padding: 14px 24px;
	overflow: overlay;

	background: #f8f8f8;
	border-radius: 20px;
	// !---------------------
	// transform: translateY(-100%);
	// transition-duration: 250ms;
	// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	// !---------------------
	filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
}
// !-----------------------------------------------------
// .calendar__text{
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 25px;

//     color: #111321;
//     margin-left: 111px;
//     margin-right: 37px;
// }
// !-----------------------------------------------------

.others__wrapper.is-open {
	pointer-events: auto;
	visibility: visible;

	// !---------------------
	// transform: scale(1);
	// !---------------------
}

.others__wrapper.is-open .others__list {
	// !---------------------
	// transition-duration: 250s;
	// transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	// transform: translateY(0);
	// !---------------------
}

.others__wrapper.is-open ~ .others__button {
	background-color: $accent;
	color: $whitecolor;

	.others__icon-open {
		display: none;
	}

	.others__icon-close {
		display: block;
	}
}

.others__item {
	&:not(:last-child) {
		margin-bottom: 12px;
	}
}
.others__item-button {
	display: inline-block;
	cursor: pointer;
	color: #4440f7;
	background-color: transparent;
	font-size: 12px;
	line-height: calc(16 / 12);
	letter-spacing: 0.01em;

	&:hover,
	&:focus {
		text-decoration-line: underline;
	}
}
