.section-category{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 28px;
    padding-bottom: 60px;
}
.category{
    display: flex;
    position: relative;
}
.category__list{
    display: flex;
}
.category__item{
cursor: pointer;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 21px;
gap: 10px;

width: 83px;
height: 31px;

border: 1px solid #4440F7;
border-radius: 20px;
color: #4440F7;
background: #FFFFFF;
   

font-size: 12px;
line-height: 16px;
text-align: center;
margin-right: 16px;
}
// @media screen and (min-width: 1280px).category__item{
//     margin-left: 16px;
// }
.category__others-button{
    cursor: pointer;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 21px;
gap: 10px;

width: 112px;
height: 31px;

background: #4440F6;
border: 1px solid #4440F7;
border-radius: 20px;
}
.category__text{
    width: 39px;
height: 16px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;

color: #FFFFFF;
}
.category__others-div{
    overflow: hidden;
    position: absolute;
    z-index: 2;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.category__others-list{
display: block;
position: absolute;
width: 120px;
height: 408px;
padding-left: 24px;
padding-top: 14px;

background: #F8F8F8;
border-radius: 20px;
transform: translateY(-100%);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
// .calendar__text{
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 25px;
     
//     color: #111321;
//     margin-left: 111px;
//     margin-right: 37px;
// }
.category__others-div{
    z-index: 2;
    pointer-events: none;
    transition-duration: 250s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    position: absolute;
    overflow: hidden;
}
.category__others-div.is-open .category__others-div {
    pointer-events: auto;
    transform: scale(1);
}
.category__others-div.is-open .category__others-list {
    visibility: visible;
    transition-duration: 250s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transform: translateY(0);
}
.category__others-list-item{
    margin-top: 12px;
}
.category__others-list-button{
cursor: pointer;
color: #4440f7;
background-color: #f8f8f8;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.01em;

}