.newsgrid {
	padding-top: 12px;
	padding-bottom: 60px;

	@media screen and (min-width: $tablet) {
		padding-top: 20px;
		padding-bottom: 100px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 32px;
		padding-bottom: 150px;
	}
}

.list-news {
	margin-bottom: 40px;

	@media screen and (min-width: $tablet) {
		margin-bottom: 48px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 60px;
	}
}

// .news__container {
// 	width: 1280px;
// 	margin: 0 auto;
// }

//! ================================================================
.page-container {
}
.pages {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	@media screen and (min-width: $tablet) {
		gap: 8px;
	}
}

.pages__numbers-list {
	align-items: center;
	display: flex;
}

.pages__btn {
	display: flex;
	align-items: center;
	width: 72px;
	height: 28px;
	padding: 0 10px;
	gap: 3px;

	background-color: $dark-theme-text;
	border: 1px solid $accent;
	border-radius: 2px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(19 / 14);

	&:hover,
	&:focus {
		color: $dark-theme-text;
		background-color: #4440f6;
	}

	@media screen and (min-width: $tablet) {
		width: 78px;
		height: 31px;
		gap: 2px;

		font-size: 16px;
		line-height: calc(22 / 16);
	}

	@media screen and (min-width: $desktop) {
		width: 82px;
		height: 31px;
	}
}

.btn-prev__icon,
.btn-next__icon {
	width: 18px;
	height: 18px;

	@media screen and (min-width: $tablet) {
		width: 24px;
		height: 24px;
	}
}

.pages__btn-text {
}

.pages__numbers {
}
.pages__numbers-list {
	display: flex;
	gap: 10px;

	@media screen and (min-width: $tablet) {
		gap: 8px;
	}
}
.pages__numbers-item {
}

.pages__numbers-btn {
	width: 28px;
	height: 28px;

	background: $dark-theme-text;
	border: 1px solid $accent;
	border-radius: 2px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(19 / 14);

	&:hover,
	&:focus {
		color: $dark-theme-text;
		background-color: #4440f6;
	}

	@media screen and (min-width: $tablet) {
		width: 33px;
		height: 31px;

		font-size: 16px;
		line-height: calc(22 / 16);
	}
}

.pages__numbers-btn.current {
	color: $dark-theme-text;
	background-color: #4440f6;
}
