.news__container{
    width: 1280px;
    margin: 0 auto;
}
.page-container{
    margin-top: 60px;
    margin-bottom: 150px;
    text-align: left;
    background-color: #f4f4f4;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    display: flex;
}
.pages{
    justify-content: center;
    display: flex;
    height: 31px;
    width: 415px;
}
.pages__numbers-list{
    align-items: center;
    display: flex;
}
.pages__btn-prev{
    margin-right: 8px;
    cursor: pointer;
    border: none;
    justify-content: center;
    display: flex;
    background: #F4F4F4;
border: 1px solid #4440F6;
border-radius: 2px;
width: 82px;
font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.pages__btn-text{
    letter-spacing: 0;
    text-align: left;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #111321;
}
.pages__numbers{
    align-items: center;
    display: flex;
}
.pages__numbers-item.active{
    background-color: #4440F6;
}
.pages__numbers-item{
    cursor: pointer;
    margin: 0 4px;
    list-style: none;
    overflow: hidden;
    border: 1px solid #4440F6;
    border-radius: 2px;
}
.pages__numbers-link{
letter-spacing: 0;
    text-align: left;
    pointer-events: none;
    color: #111321;
    padding: 4px 12px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
    display: inline-block;
}
.pages__numbers-btn-next{
    cursor: pointer;
    margin-left: 6px;
    width: 72px;
    letter-spacing: 0;
    text-align: left;
    border: 1px solid #4440F6;
    border-radius: 2px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.pages__numbers-btn-link{
color: #111321;
    padding: 4px 12px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
}
.pages__numbers-btn-text{
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #111321;
}
.list-news{
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
}
.list-news__item{
    outline: 2px solid #000;
    width:395px;
height:675px;
pointer-events: auto;
width: 100%;
max-height: 630px;
position: relative;
width: calc(33.3333% - 20px);
}