<section class="container categories-calendar">
<div class="categories">
<p>Categories</p>

</div>



<div class="calendar">
<p class="calendar__text">Search date news</p>

    <div class="calendar__wrapper-input" >
        <svg class="calendar__icon-calendar" width="20" height="20">
            <use href="./images/sprite.svg#icon-calendar"></use>
        </svg>

        <input type="button" readonly class="calendar__input" 
        value="Select a date..."
        placeholder="Select a date..." data-cal-modal-open-close>

        <svg class="calendar__icon-arrows calendar__icon-opened" width="15" height="9">
            <use href="./images/sprite.svg#icon-calendarArrow-opened"></use>
        </svg>
        <svg class="calendar__icon-arrows calendar__icon-closed" width="15" height="9">
            <use href="./images/sprite.svg#icon-calendarArrow-closed"></use>
        </svg>
    </div>

    <div class="calendar__modal is-hidden" data-calendar-modal>
    
        <div class="calendar__month-wrapper">
            <p class="current-month">February 2021</p>
            <button type="button" class="icon-month-forward icon-calendar-arrow">
                <svg width="7" height="12">
                    <use href="./images/sprite.svg#icon-month-forward"></use>
                </svg>
            </button>
            <div class="calendar__btn-wrapper"> 
                <button type="button" class="icon-calendar-arrow">
                    <svg width="9" height="17">
                        <use href="./images/sprite.svg#icon-calendar-prev"></use>
                    </svg>
                </button>
                <button type="button" class="icon-calendar-arrow">
                    <svg width="9" height="17">
                        <use href="./images/sprite.svg#icon-calendar-next"></use>
                    </svg>
                </button>
            </div>

        </div>

        <ul class="weeks">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        
        <ul class="days"></ul>


    </div>

</div>



</section>