<section class="container categories-calendar">
<div class="categories">
<p>Categories</p>

</div>



<div class="calendar">
<p class="calendar__text">Search date news</p>

    <div class="calendar__wrapper-input">
        <svg class="calendar__icon-calendar" width="20" height="20">
            <use href="./images/sprite.svg#icon-calendar"></use>
        </svg>

        <input class="calendar__input" placeholder="Select a date...">

        <svg class="calendar__icon-arrows calendar__icon-opened" width="15" height="9">
            <use href="./images/sprite.svg#icon-calendarArrow-opened"></use>
        </svg>
        <svg class="calendar__icon-arrows calendar__icon-closed" width="15" height="9">
            <use href="./images/sprite.svg#icon-calendarArrow-closed"></use>
        </svg>
    </div>

</div>

</section>