<section class="newsgrid">
	<h2 class="visually-hidden">News list</h2>
	<div class="container news__container">
		<ul class="list-news js-list-new">
			<!-- место для динамического списка -->
		</ul>

		<!-- Кастомна пагінація від Макса -->
		<div class="pagination">
			<ul class="pagination__list">
				<!-- 

				

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						2
					</button>
				</li>

				<li class="pagination__item-dots">
					<span class="pagination__dots">
						...
					</span>
				</li>

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						4
					</button>
				</li>

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						5
					</button>
				</li>

				<li class="pagination__item-dots">
					<span class="pagination__dots">
						...
					</span>
				</li>

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						7
					</button>
				</li>

				
		 -->
			</ul>
		</div>



		<!-- <div class="page-container"> -->
		<!-- <div class="pages">
        <button type="button" class="pages__btn btn-prev">
          <svg class="btn-prev__icon">
            <use href="./images/sprite.svg#icon-pagination-previous"></use>
          </svg>
          <span class="pages__btn-text">Prew</span>
        </button>
        <div class="pages__numbers">
          <ul class="pages__numbers-list">
            <li class="pages__numbers-item">
              <button class="pages__numbers-btn current" type="button">
                1
              </button>
            </li>
            <li class="pages__numbers-item">
              <button class="pages__numbers-btn" type="button">2</button>
            </li>
            <li class="pages__numbers-item">
              <button class="pages__numbers-btn" type="button">3</button>
            </li>
          </ul>
        </div>
        <button type="button" class="pages__btn btn-next">
          <span class="pages__btn-text">Next</span>
          <svg class="btn-next__icon">
            <use href="./images/sprite.svg#icon-pagination-next"></use>
          </svg>
        </button>
      </div> -->
		<!-- </div> -->
	</div>
</section>