<section class="newsgrid">
	<h2 class="visually-hidden">News list</h2>
	<div class="container news__container">
		<ul class="list-news js-list-new">
			<!-- место для динамического списка -->
		</ul>

		<div class="page-container">
			<button class="first-page" disabled>
				<i class="fas fa-angle-double-left"></i>
			</button>
			<button class="prev-page" disabled>
				<i class="fas fa-angle-left"></i>
			</button>
			<div id="pagination"></div>
			<button class="next-page">
				<i class="fas fa-angle-right"></i>
			</button>
			<button class="last-page">
				<i class="fas fa-angle-double-right"></i>
			</button>
		</div>
	</div>

	<!-- Кастомна пагінація від Макса -->
	<!-- <div class="pagination">
			<ul class="pagination__list"> -->
	<!-- 

				

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						2
					</button>
				</li>

				<li class="pagination__item-dots">
					<span class="pagination__dots">
						...
					</span>
				</li>

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						4
					</button>
				</li>

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						5
					</button>
				</li>

				<li class="pagination__item-dots">
					<span class="pagination__dots">
						...
					</span>
				</li>

				<li class="pagination__item-numb">
					<button class="pagination__btn-numb">
						7
					</button>
				</li>

				
		 -->
	<!-- </ul>
		</div> -->

</section>