<div class="news-card">
  <img
    class="news-card__image"
    src="${results[i].media[0]['media-metadata'][2].url}"
    alt="${results[i].media[0].caption}"
    width="288"
    height="395"
  />
  <p class="news-card__category">${results[i].section}</p>
  <button type="button" class="js-to-fav news-card__add-favorite">
    aDD favorite
    <svg class="news-card__icon" width="16" height="16">
      <use href=${'/sprite.f14d31f7.svg#icon-heart-transparent'}></use>
    </svg>
  </button>
  <h3 class="news-card__title">${results[i].title}</h3>
  <p class="news-card__text">${results[i].abstract}</p>
  <div class="news-card__details">
    <a class="news-card__date-link link" href="">${results[i].updated}</a>
    <a class="news-card__news-link link" href="${results[i].url}">Read more</a>
  </div>
</div>
