<section class="newsgrid">
	<div class="news__container js-pagination-m">
		<ul class="list-news js-list-new">
			<!-- место для динамического списка -->
		</ul>
		<div class="page-container">
			<div class="pages">
				<button class="pages__btn-prev">
					<a href="#">
						<!-- <svg></svg> -->
						<span class="pages__numbers-btn-text">Prew</span>
					</a>
				</button>
				<div class="pages__numbers">
					<ul class="pages__numbers-list">
						<li class="pages__numbers-item active">
							<a href="#" class="pages__numbers-link">1</a>
						</li>
						<li class="pages__numbers-item">
							<a href="#" class="pages__numbers-link">2</a>
						</li>
						<li class="pages__numbers-item">
							<a href="#" class="pages__numbers-link">3</a>
						</li>
					</ul>
				</div>
				<button class="pages__numbers-btn-next">
					<a href="#" class="pages__numbers-btn-link">
						<span class="pages__numbers-btn-text">Next</span>
						<!-- <svg></svg> -->
					</a>
				</button>
			</div>
<!-- Кастомна пагінація від Макса -->
		<div class="pagination">
			<ul> <!--pages or li are comes from javascript --> </ul>
		</div>
			
		</div>
		
	</div>
</section>