<div class="news-card">
  <img
    class="news-card__image"
    src="./images/1-asia-businesswoman-mob.jpg"
    alt="asia-businesswoman"
    width="288"
    height="395"
  />
  <p class="news-card__category">Job searching</p>
  <p class="news-card__add-favorite">
    Add to favorite<svg class="news-card__icon" width="16" height="16">
      <use href="./images/sprite.svg#icon-heart-transparent"></use>
    </svg>
  </p>
  <h3 class="news-card__title">
    8 tips for passing an online interview that will help you get a job
  </h3>
  <p class="news-card__text">
    Before you start looking for a job, it is useful to familiarize yourself
    with the job prospects offered by these...
  </p>
  <div class="news-card__details">
    <a class="news-card__date-link link" href="">20/02/23</a>
    <a class="news-card__news-link link" href="">Read more</a>
  </div>
</div>
